/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
  padding: $spacing-unit 0;

}
  
// a {
//   text-decoration: none;
//   &:hover{
//     color: #000000;
//     text-decoration: none;
//   }
  
//   &:visited{
//     color: #000000;
//     text-decoration: none;
//   }
// }

.site-title {
  // @include relative-font-size(2.625);
  font-size: calc(2em + 1vw);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;  

}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    font-size: 17px;
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $grey-color-light;
  padding: $spacing-unit*1.5 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  
}

// .home {
//   vertical-align: middle;
// }

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.projects-title {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px; 
}

.projects-title:before,
.projects-title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $grey-color; 
  padding:0 10px;
  margin: auto;
}


.title {
  background:#fff;
  padding:0 10px;
  
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));

  // grid-auto-rows: auto;
 
  grid-gap: 1rem;
} 

.project-img {
  display: block;
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.project-desc {
  font-size: 13px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-name {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

}

.project {
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  height: 100%;
  position: relative;
}

.project-info {
  padding: 10px;
}

.project-name {
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-project {
  background-color: var(--main-color);

  /* background-color: #274788; */
  color: #ffffff;

  /* color: #9dd1e7; */
  /* color: #f3a354; */
  border: none;

  /* margin: 0 auto; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0px;
  right: 0px;

  &:hover {
    /* background-color: #265e70; */
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--main-color);
  }
}

.footer {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: #000;
}

.footer-link:hover {
  cursor: pointer;
  color: rgb(116, 116, 116);
}

.header-desc {
}

.header-desc-details p {
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  margin: 0 0 5px 0;
}



